/* Basic styling, you'll need to customize this */
.homepage {
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
  }
  
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: row;;
    /* align-items: center; */
  }
 
  .left-section-img1{
   align-items: start;
   position: absolute;
   
  }
  .left-section-img2{
    flex-grow: 1;
    align-items: center;
    margin-top: 30%;
    margin-left: 35%;

  }

  .right-section {
    
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-left: 140px;
  }

  
  .feature-cards {
    background-color: rgb(223, 217, 217);
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    
  }
  
  .feature-card {

    width: 300px;
    text-align: center;
    margin: 50px;
  }
  